<section class="py-4">
    <div class="container">
         <div class="separator pb-4">
            <div class="line"></div>
            <h5 class="mb-0 fw-bold separator-title">New Arrivals</h5>
            <div class="line"></div>
         </div>
        <div class="product-grid">
            <div class="new-arrivals owl-carousel owl-theme position-relative">
                 <div class="item">
                    <div class="card">
                        <div class="position-relative overflow-hidden">
                            <div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
                                <a href="javascript:;"><i class='bx bx-cart-add' ></i></a>
                              </div>
                          <div class="quick-view position-absolute start-0 bottom-0 end-0">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
                          </div>
                          <a href="javascript:;">
                            <img src="assets/images/products/11.png" class="img-fluid" alt="...">
                          </a>
                        </div>
                        <div class="card-body px-0">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="">
                                  <p class="mb-1 product-short-name">Topwear</p>
                                  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
                              </div>
                              <div class="icon-wishlist">
                                  <a href="javascript:;"><i class="bx bx-heart"></i></a>
                              </div>
                          </div>
                          <div class="cursor-pointer rating mt-2">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                          </div>
                          <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                            <div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
                            <div class="h6 fw-bold">$48.00</div>
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="item">
                    <div class="card">
                        <div class="position-relative overflow-hidden">
                            <div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
                                <a href="javascript:;"><i class='bx bx-cart-add' ></i></a>
                              </div>
                          <div class="quick-view position-absolute start-0 bottom-0 end-0">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
                          </div>
                          <a href="javascript:;">
                            <img src="assets/images/products/12.png" class="img-fluid" alt="...">
                          </a>
                        </div>
                        <div class="card-body px-0">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="">
                                  <p class="mb-1 product-short-name">Topwear</p>
                                  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
                              </div>
                              <div class="icon-wishlist">
                                  <a href="javascript:;"><i class="bx bx-heart"></i></a>
                              </div>
                          </div>
                          <div class="cursor-pointer rating mt-2">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                          </div>
                          <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                            <div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
                            <div class="h6 fw-bold">$48.00</div>
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="item">
                    <div class="card">
                        <div class="position-relative overflow-hidden">
                            <div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
                                <a href="javascript:;"><i class='bx bx-cart-add' ></i></a>
                              </div>
                          <div class="quick-view position-absolute start-0 bottom-0 end-0">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
                          </div>
                          <a href="javascript:;">
                            <img src="assets/images/products/13.png" class="img-fluid" alt="...">
                          </a>
                        </div>
                        <div class="card-body px-0">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="">
                                  <p class="mb-1 product-short-name">Topwear</p>
                                  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
                              </div>
                              <div class="icon-wishlist">
                                  <a href="javascript:;"><i class="bx bx-heart"></i></a>
                              </div>
                          </div>
                          <div class="cursor-pointer rating mt-2">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                          </div>
                          <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                            <div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
                            <div class="h6 fw-bold">$48.00</div>
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="item">
                    <div class="card">
                        <div class="position-relative overflow-hidden">
                            <div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
                                <a href="javascript:;"><i class='bx bx-cart-add' ></i></a>
                              </div>
                          <div class="quick-view position-absolute start-0 bottom-0 end-0">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
                          </div>
                          <a href="javascript:;">
                            <img src="assets/images/products/14.png" class="img-fluid" alt="...">
                          </a>
                        </div>
                        <div class="card-body px-0">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="">
                                  <p class="mb-1 product-short-name">Topwear</p>
                                  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
                              </div>
                              <div class="icon-wishlist">
                                  <a href="javascript:;"><i class="bx bx-heart"></i></a>
                              </div>
                          </div>
                          <div class="cursor-pointer rating mt-2">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                          </div>
                          <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                            <div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
                            <div class="h6 fw-bold">$48.00</div>
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="item">
                    <div class="card">
                        <div class="position-relative overflow-hidden">
                            <div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
                                <a href="javascript:;"><i class='bx bx-cart-add' ></i></a>
                              </div>
                          <div class="quick-view position-absolute start-0 bottom-0 end-0">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
                          </div>
                          <a href="javascript:;">
                            <img src="assets/images/products/15.png" class="img-fluid" alt="...">
                          </a>
                        </div>
                        <div class="card-body px-0">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="">
                                  <p class="mb-1 product-short-name">Topwear</p>
                                  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
                              </div>
                              <div class="icon-wishlist">
                                  <a href="javascript:;"><i class="bx bx-heart"></i></a>
                              </div>
                          </div>
                          <div class="cursor-pointer rating mt-2">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                          </div>
                          <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                            <div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
                            <div class="h6 fw-bold">$48.00</div>
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="item">
                    <div class="card">
                        <div class="position-relative overflow-hidden">
                            <div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
                                <a href="javascript:;"><i class='bx bx-cart-add' ></i></a>
                              </div>
                          <div class="quick-view position-absolute start-0 bottom-0 end-0">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
                          </div>
                          <a href="javascript:;">
                            <img src="assets/images/products/16.png" class="img-fluid" alt="...">
                          </a>
                        </div>
                        <div class="card-body px-0">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="">
                                  <p class="mb-1 product-short-name">Topwear</p>
                                  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
                              </div>
                              <div class="icon-wishlist">
                                  <a href="javascript:;"><i class="bx bx-heart"></i></a>
                              </div>
                          </div>
                          <div class="cursor-pointer rating mt-2">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                          </div>
                          <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                            <div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
                            <div class="h6 fw-bold">$48.00</div>
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="item">
                    <div class="card">
                        <div class="position-relative overflow-hidden">
                            <div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
                                <a href="javascript:;"><i class='bx bx-cart-add' ></i></a>
                              </div>
                          <div class="quick-view position-absolute start-0 bottom-0 end-0">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
                          </div>
                          <a href="javascript:;">
                            <img src="assets/images/products/17.png" class="img-fluid" alt="...">
                          </a>
                        </div>
                        <div class="card-body px-0">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="">
                                  <p class="mb-1 product-short-name">Topwear</p>
                                  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
                              </div>
                              <div class="icon-wishlist">
                                  <a href="javascript:;"><i class="bx bx-heart"></i></a>
                              </div>
                          </div>
                          <div class="cursor-pointer rating mt-2">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                          </div>
                          <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                            <div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
                            <div class="h6 fw-bold">$48.00</div>
                          </div>
                        </div>
                      </div>
                   </div>
                   <div class="item">
                    <div class="card">
                        <div class="position-relative overflow-hidden">
                            <div class="add-cart position-absolute top-0 end-0 mt-3 me-3">
                                <a href="javascript:;"><i class='bx bx-cart-add' ></i></a>
                              </div>
                          <div class="quick-view position-absolute start-0 bottom-0 end-0">
                            <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#QuickViewProduct">Quick View</a>
                          </div>
                          <a href="javascript:;">
                            <img src="assets/images/products/18.png" class="img-fluid" alt="...">
                          </a>
                        </div>
                        <div class="card-body px-0">
                          <div class="d-flex align-items-center justify-content-between">
                              <div class="">
                                  <p class="mb-1 product-short-name">Topwear</p>
                                  <h6 class="mb-0 fw-bold product-short-title">White Polo Shirt</h6>
                              </div>
                              <div class="icon-wishlist">
                                  <a href="javascript:;"><i class="bx bx-heart"></i></a>
                              </div>
                          </div>
                          <div class="cursor-pointer rating mt-2">
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                              <i class="bx bxs-star text-warning"></i>
                          </div>
                          <div class="product-price d-flex align-items-center justify-content-start gap-2 mt-2">
                            <div class="h6 fw-light fw-bold text-secondary text-decoration-line-through">$59.00</div>
                            <div class="h6 fw-bold">$48.00</div>
                          </div>
                        </div>
                      </div>
                   </div>
            </div>
        </div>
    </div>
</section>