<section class="py-4">
    <div class="container">
        <div class="pb-4 text-center">
            <h5 class="mb-0 fw-bold text-uppercase">Latest News</h5>
         </div>
        <div class="product-grid">
            <div class="latest-news owl-carousel owl-theme">
                <div class="item">
                    <div class="card rounded-0 product-card border">
                        <div class="news-date">
                            <div class="date-number">24</div>
                            <div class="date-month">FEB</div>
                        </div>
                        <a href="javascript:;">
                            <img src="assets/images/blogs/01.png" class="card-img-top border-bottom" alt="...">
                        </a>
                        <div class="card-body">
                            <div class="news-title">
                                <a href="javascript:;">
                                    <h5 class="mb-3 text-capitalize">Blog Short Title</h5>
                                </a>
                            </div>
                            <p class="news-content mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenean...</p>
                        </div>
                        <div class="card-footer border-top bg-transparent">
                            <a href="javascript:;" class="link-dark">0 Comments</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card rounded-0 product-card border">
                        <div class="news-date">
                            <div class="date-number">24</div>
                            <div class="date-month">FEB</div>
                        </div>
                        <a href="javascript:;">
                            <img src="assets/images/blogs/02.png" class="card-img-top border-bottom" alt="...">
                        </a>
                        <div class="card-body">
                            <div class="news-title">
                                <a href="javascript:;">
                                    <h5 class="mb-3 text-capitalize">Blog Short Title</h5>
                                </a>
                            </div>
                            <p class="news-content mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenean...</p>
                        </div>
                        <div class="card-footer border-top bg-transparent">
                            <a href="javascript:;" class="link-dark">0 Comments</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card rounded-0 product-card border">
                        <div class="news-date">
                            <div class="date-number">24</div>
                            <div class="date-month">FEB</div>
                        </div>
                        <a href="javascript:;">
                            <img src="assets/images/blogs/03.png" class="card-img-top border-bottom" alt="...">
                        </a>
                        <div class="card-body">
                            <div class="news-title">
                                <a href="javascript:;">
                                    <h5 class="mb-3 text-capitalize">Blog Short Title</h5>
                                </a>
                            </div>
                            <p class="news-content mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenean...</p>
                        </div>
                        <div class="card-footer border-top bg-transparent">
                            <a href="javascript:;" class="link-dark">0 Comments</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card rounded-0 product-card border">
                        <div class="news-date">
                            <div class="date-number">24</div>
                            <div class="date-month">FEB</div>
                        </div>
                        <a href="javascript:;">
                            <img src="assets/images/blogs/04.png" class="card-img-top border-bottom" alt="...">
                        </a>
                        <div class="card-body">
                            <div class="news-title">
                                <a href="javascript:;">
                                    <h5 class="mb-3 text-capitalize">Blog Short Title</h5>
                                </a>
                            </div>
                            <p class="news-content mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenean...</p>
                        </div>
                        <div class="card-footer border-top bg-transparent">
                            <a href="javascript:;" class="link-dark">0 Comments</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card rounded-0 product-card border">
                        <div class="news-date">
                            <div class="date-number">24</div>
                            <div class="date-month">FEB</div>
                        </div>
                        <a href="javascript:;">
                            <img src="assets/images/blogs/05.png" class="card-img-top border-bottom" alt="...">
                        </a>
                        <div class="card-body">
                            <div class="news-title">
                                <a href="javascript:;">
                                    <h5 class="mb-3 text-capitalize">Blog Short Title</h5>
                                </a>
                            </div>
                            <p class="news-content mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenean...</p>
                        </div>
                        <div class="card-footer border-top bg-transparent">
                            <a href="javascript:;" class="link-dark">0 Comments</a>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="card rounded-0 product-card border">
                        <div class="news-date">
                            <div class="date-number">24</div>
                            <div class="date-month">FEB</div>
                        </div>
                        <a href="javascript:;">
                            <img src="assets/images/blogs/06.png" class="card-img-top border-bottom" alt="...">
                        </a>
                        <div class="card-body">
                            <div class="news-title">
                                <a href="javascript:;">
                                    <h5 class="mb-3 text-capitalize">Blog Short Title</h5>
                                </a>
                            </div>
                            <p class="news-content mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non placerat mi. Etiam non tellus sem. Aenean...</p>
                        </div>
                        <div class="card-footer border-top bg-transparent">
                            <a href="javascript:;" class="link-dark">0 Comments</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>