<section class="py-4">
    <div class="container">

        <div class="row row-cols-1 row-cols-lg-3 g-4">
            <div class="col">
                <div class="d-flex align-items-center justify-content-center p-3 border">
                    <div class="fs-1 text-content"><i class='bx bx-taxi'></i>
                    </div>
                    <div class="info-box-content ps-3">
                        <h6 class="mb-0 fw-bold">FREE SHIPPING &amp; RETURN</h6>
                        <p class="mb-0">Free shipping on all orders over $49</p>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="d-flex align-items-center justify-content-center p-3 border">
                    <div class="fs-1 text-content"><i class='bx bx-dollar-circle'></i>
                    </div>
                    <div class="info-box-content ps-3">
                        <h6 class="mb-0 fw-bold">MONEY BACK GUARANTEE</h6>
                        <p class="mb-0">100% money back guarantee</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="d-flex align-items-center justify-content-center p-3 border">
                    <div class="fs-1 text-content"><i class='bx bx-support'></i>
                    </div>
                    <div class="info-box-content ps-3">
                        <h6 class="mb-0 fw-bold">ONLINE SUPPORT 24/7</h6>
                        <p class="mb-0">Awesome Support for 24/7 Days</p>
                    </div>
                </div>
            </div>
        </div>
        <!--end row-->
    </div>
</section>